<app-header></app-header>
<!-- hearder button -->
<app-essdashboard-menu></app-essdashboard-menu>
  

<!-- ESS _ My Request Page -->
<section class="mt-5 top-section" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="list-group">
                    <div class="list-group-item list-group-item-action flex-column align-items-start active">
                      <div class="d-flex justify-content-between">
                        <h5 class="mb-1"><b>My Requests</b></h5>
                      </div>
                      
                    </div>
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class=" d-flex justify-content-between">
                        <h5 class="mb-1"><a href="">RID099862765 >SI Loan EMI Update >Pending >  Rajesh Sharma > 1 day ago</a></h5>
                      </div>
                    </div>
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="justify-content-between">
                          <h5 class="mb-1"> <a href="">RID099862775 > Loan Part Payment > Approved >5 day ago</a></h5>
                        </div>
                      </div>
                      <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="justify-content-between">
                          <h5 class="mb-1"><a href="">RID099862795 >GPF EMI Update >Pending >Rajesh Sharma >3 day ago</a></h5>
                        </div>
                      </div>
                      <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="justify-content-between">
                          <h5 class="mb-1"><a href="">RID099862958 >GPF Part Payment Update >Pending > Rajesh Sharma > 3 day ago</a></h5>
                        </div>
                      </div>
                      <!-- <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="justify-content-between">
                          <h5 class="mb-1">RID099862765 >SI Loan EMI Update >Pending > Rajesh Sharma > 1 day ago</h5>
                        </div>
                      </div> -->


                   
                  </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="list-group">
                    <div class="list-group-item list-group-item-action flex-column align-items-start active">
                      <div class="d-flex justify-content-between">
                        <h5 class="mb-1"><b>Notification </b></h5>
                       
                      </div>
                     
                    </div>
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                      
                        <div class="media">
                            <h5><i class="fa fa-angle-right text-primary font-weight-bold" aria-hidden="true"></i></h5>
                            <div class="media-body">
                              <h5 class="mt-0">Hi You are welcome at Employee SelfService Portal</h5>
                            
                            </div>
                         
                      </div>
                    </div>
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                          <div class="media">
                            <h5><i class="fa fa-angle-right text-primary font-weight-bold" aria-hidden="true"></i></h5>
                            <div class="media-body">
                                <h5 class="mt-0">1. You Can view and print your salayslip.</h5>
                                <h5 class="mt-0">2. You can declared your Tax</h5>
                                <h5 class="mt-0">3. You can view your Personal & Service related information</h5>
                                <h5 class="mt-0"> 4. You can apply for Loan</h5>
                                <h5 class="mt-0"> 5. You can view and Print GPF Book</h5>
                                <h5 class="mt-0">    6. Raise Queries</h5>
                               
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    
                   
                  </div>
            </div>
        </div>
    
</section>
<!-- end ESS _ My Request Page -->


<app-footer></app-footer>
