<app-header></app-header>
<!-- hearder button -->
<app-essdashboard-menu></app-essdashboard-menu>
<!--Profile-->
<div class="container-fluid" style="margin-top:40px; margin-bottom: 171px;">
    <div class="row">
        <div class="col-sm-4 ">
            <div class="left">
                <div class="leftpro">
                    <img src="assets/images/usericon.png" alt="user-icon">
                    <!-- <i class="fa fa-user" aria-hidden="true" style="font-size: 100px;"></i> -->
                    <h3>Pravek Kumar</h3>
                    <p>EMP ID RJ00XYZ</p>
                </div>
                <hr style="background-color: #2471BC; height: 1px;">
                <table class="lefttbl">
                    <tr>
                        <td>
                            <p>Employee Name</p>
                            
                        </td>
                        <td><b><p>Pravek Kumar</p></b></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Employee ID</p>
                        </td>
                        <td><b><p>RJ00XYZ</p></b> </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Date Of Joining</p>
                        </td>
                        <td><b><p>01/05/21</p></b> </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Designation</p>
                        </td>
                        <td><b><p>Auditor</p></b></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Department</p>
                        </td>
                        <td><b><p>Department of Treasury & Account</p></b></td>
                    </tr>
                    <tr>
                        <td>
                            <p>GPF Number</p>
                        </td>
                        <td><b><p>RJ-911</p></b></td>
                    </tr>
                </table>
            </div>
            

            
            
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-3 ">
                    <div class="lefttop">
                        <!-- <span><i class="fa fa-inr" aria-hidden="true"></i></span> -->
                        <img src="assets/images/salaryicon.png" alt="salaryslip-icon">
                    <h3>Salary Slip</h3>
                    <p>Generated</p>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="lefttop">
                        <img src="assets/images/taxicon.png" alt="tax-icon">
                        <!-- <span><i class="fa fa-money" aria-hidden="true"></i></span> -->
                    <h3>Tax Declaration</h3>
                    <p>17 Apr 2021</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="lefttop">
                        <img src="assets/images/envelopicon.png" alt="Mail-icon">
                        <!-- <span><i class="fa fa-envelope" aria-hidden="true"></i></span> -->
                    <h3>Notification</h3>
                    </div>
                    
                </div>
                <div class="col-sm-3 ">
                    <div class="lefttop" style="padding-top: 80px;">
                        <h3>Initiate Joining</h3>
                    </div>
                    
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="leftbottom">
                        <h3>Notification</h3>
                    <ul style="list-style-type: decimal;">
                        <li>Hi You are welcome at Employee Self Service Portal</li>
                        <li><span>Facilities Available at Portal</span>
                            <ul style="list-style:square;">
                                <li>You can view and print your salaryslip</li>
                                <li>You can declared your Tax</li>
                                <li>You can view your Personal & Service related information</li>
                                <li>You can apply for loan</li>
                                <li>You can view and Print GPF book</li>
                                <li>Raise Queries</li>
                            </ul>
                        </li>
                    </ul>
                    </div>
                    
                </div>
                <div class="col-sm-6">
                    <div class="leftbottom">
                        <h3>Important Document</h3>
                    <ul style="list-style-type: decimal;">
                        <li>List of Holiday for Calender Year 2022 </li>
                        <li>Form 16 for Employee</li>
                        <li>Biometric Form for Employee</li>
                    </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>