<!-- hearder button -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 headerbtn">
            <div class="headbtngrp">
                <div class="btn-group ml-5" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="drpbtn dropdown-toggle"
                        aria-controls="dropdown-basic">
                        Personal Information <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                        </li>
                    </ul>

                </div>

                <div class="btn-group ml-5" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="drpbtn dropdown-toggle"
                        aria-controls="dropdown-basic">
                        Tax <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                        </li>
                    </ul>

                </div>

                <div class="btn-group ml-5" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="drpbtn dropdown-toggle"
                        aria-controls="dropdown-basic">
                        Leaves <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                        </li>
                    </ul>

                </div>

                <div class="btn-group ml-5" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="drpbtn dropdown-toggle"
                        aria-controls="dropdown-basic">
                        Pay & Allowance <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                        </li>
                    </ul>

                </div>

                <div class="btn-group ml-5" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="drpbtn dropdown-toggle"
                        aria-controls="dropdown-basic">
                        Deduction <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                        </li>
                    </ul>

                </div>

                <div class="btn-group ml-5" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="drpbtn dropdown-toggle"
                        aria-controls="dropdown-basic">
                        Loans <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                        </li>
                    </ul>

                </div>

                <div class="btn-group ml-5" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="drpbtn dropdown-toggle"
                        aria-controls="dropdown-basic">
                        Advance Request <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                        </li>
                    </ul>

                </div>

                <div class="btn-group ml-5" dropdown>
                    <button id="button-basic"  type="button" class="drpbtn " routerLink="/ESS-Req"
                      >
                        My Request <span class="caret"></span>
                    </button>
                    

                </div>
                <i class="fa fa-bell" aria-hidden="true"></i>

                <!-- <div><i class="fa fa-bell" aria-hidden="true"></i></div> -->


            </div>
        </div>
    </div>
</div>
