<!-- Content Wrapper. Contains page content -->
<app-header></app-header>

<div class="content-wrapper ">
    <nav  aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <i class="fa text-primary fa-home" style="font-size:19px"></i>&nbsp;
             <a  routerlink="/login" ng-reflect-router-link="/login" href="/login">Login</a>
          </li>
          <li class="breadcrumb-item">
            <a  routerlink="/employee-self-service" ng-reflect-router-link="/employee-self-service" href="/employee-self-service">Menu</a>
          </li>
          <li aria-current="Inbox" aria-label="Current Page" class="breadcrumb-item active">Employee Self Service</li>
        </ol>
      </nav>
</div>
<section class="content bg-light">
    <div class="container">
        <div class="headempself">
            <h3>Employee Self Service</h3>
        </div>
        <div class="box box-default"> 
            <div class="col-md-12" style="text-align: right;padding-right: 0px !important;">               
                <button  type="button" title="Back SI Application" (click)="goBack()"
                class="btn btn-danger btn-flat w-50">Back</button>              
            </div>          
            <fieldset>
                <legend>
                    <div class="Row" style="text-align: center; align-items: center;  padding-top: 10px;">
                        <label class="p-5 bg-light-blue" style=" font-weight: bold;">
                            <div class="section-title">
                                <p>Employee Information</p>
                            </div>
                        </label>
                    </div>
                </legend>
                <form  [formGroup]="EmpSelfDetailForm" (ngSubmit)="onSubmit()" *ngIf="show_is">                 
                    <div class="row m-2 mt-5" >
                        <div class="col-md-3">
                            <label>Name</label>
                            <input type="text" class="form-control"formControlName="Name" readonly>                             
                        </div>
                        <div class="col-md-3">
                            <label>Father Name </label>
                            <input type="text" class="form-control"formControlName="fatherName" readonly>                               
                        </div>
                        <div class="col-md-3">
                            <label>Mother Name</label>                        
                            <input type="text" class="form-control" formControlName="motherName" readonly>
                        </div>
                        <div class="col-md-3">
                            <label>Gender</label>                        
                            <input type="text" class="form-control" formControlName="Gender_Data" readonly>
                        </div>
                    </div>
                    <div class="row m-2 mt-5" >
                        <div class="col-md-3">
                            <label>Date of Birth</label>
                            <input type="text" class="form-control"formControlName="Name" readonly>                             
                        </div>
                        <div class="col-md-3">
                            <label>Social Category </label>
                            <input type="text" class="form-control"formControlName="fatherName" readonly>                               
                        </div>
                        <div class="col-md-3">
                            <label>Mobile Number</label>                        
                            <input type="text" class="form-control" formControlName="mobileNumber" readonly>
                        </div>
                        <div class="col-md-3">
                            <label>Marital Status</label>                        
                            <input type="text" class="form-control" formControlName="Marital_Status" readonly>
                        </div>
                    </div>

                    <div class="row m-2 mt-5" >
                        <div class="col-md-3">
                            <label>Spouse Name</label>
                            <input type="text" class="form-control"formControlName="Name" readonly>                             
                        </div>
                        <div class="col-md-3">
                            <label>Disable </label>
                            <input type="text" class="form-control"formControlName="fatherName" readonly>                               
                        </div>
                        <div class="col-md-3">
                            <label>Type of Disability</label>                        
                            <input type="text" class="form-control" formControlName="motherName" readonly>
                        </div>
                        <div class="col-md-3">
                            <label>Persentage Of Disability</label>                        
                            <input type="text" class="form-control" formControlName="Gender_Data1" readonly>
                        </div>
                    </div>
                    <div class="row m-2 mt-5" >
                        <div class="col-md-3">
                            <label>Height</label>
                            <input type="text" class="form-control"formControlName="Name" readonly>                             
                        </div>
                        <div class="col-md-3">
                            <label>Blood Group</label>
                            <input type="text" class="form-control"formControlName="Blood_Group" readonly>                               
                        </div>
                        <div class="col-md-3">
                            <label>Identification Mark</label>                        
                            <input type="text" class="form-control" formControlName="motherName" readonly>
                        </div>
                        <div class="col-md-3">
                            <label>PAN No.</label>                        
                            <input type="text" class="form-control" formControlName="panNo" readonly>
                        </div>
                    </div>
                    <div class="row m-2 mt-5" >
                        <div class="col-md-3">
                            <label>Email ID</label>
                            <input type="text" class="form-control"formControlName="emailID" readonly>                             
                        </div>
                        
                    </div>
                    <div class="row mr-3" >
                        <div class="col-md-12" style="text-align: right;">
                            <button type="submit" class="btn btn-primary btn-flat margin w-100"
                            action="save">Next</button>
                        </div>
                        
                    </div>
                    <!-- <app-essbutton></app-essbutton> -->
                    <!-- Employee Self Detail End -->
                </form>
                <form  [formGroup]="EmpSelfDetailForm" (ngSubmit)="onSubmit()">                 
                    <div class="row m-2 mt-5" >
                        <div class="col-md-3">
                            <label><b>Name</b></label> <br>
                            <label>{{EmpSelfDetailForm.controls['NAME_EN']}}</label>
                                                       
                        </div>
                        <div class="col-md-3">
                            <label><b>Father Name</b> </label><br>
                            <label>{{fatherName}} </label>
                                                        
                        </div>
                        <div class="col-md-3">
                            <label><b>Mother Name</b></label> <br>                       
                            <label>{{motherName}} </label>
                        </div>
                        <div class="col-md-3">
                            <label><b>Gender</b></label>   <br>                     
                            <label>{{Gender_Data}} </label>
                        </div>
                    </div>               

                    <div class="row m-2 mt-5" >
                        <div class="col-md-3">
                            <label><b>Date of Birth</b></label>
                            <br>                     
                            <label>{{spouseName}} </label>                     
                        </div>
                        <div class="col-md-3">
                            <label><b>Social Category</b> </label>
                            <br>                     
                            <label>No </label>                          
                        </div>
                        <div class="col-md-3">
                            <label><b>Mobile Number</b></label>                        
                            <br>                     
                            <label>NO</label>
                        </div>
                        <div class="col-md-3">
                            <label><b>Marital Status</b></label>                        
                            <br>                     
                            <label>0.0 </label>
                        </div>
                    </div>
                    <div class="row m-2 mt-5" >
                        <div class="col-md-3">
                            <label><b>Spouse Name</b></label>
                            <br>                     
                            <label>{{spouseName}} </label>                     
                        </div>
                        <div class="col-md-3">
                            <label><b>Disable</b> </label>
                            <br>                     
                            <label>No </label>                          
                        </div>
                        <div class="col-md-3">
                            <label><b>Type of Disability</b></label>                        
                            <br>                     
                            <label>NO</label>
                        </div>
                        <div class="col-md-3">
                            <label><b>Persentage Of Disability</b></label>                        
                            <br>                     
                            <label>0.0 </label>
                        </div>
                    </div>
                    <div class="row m-2 mt-5" >
                        <div class="col-md-3">
                            <label><b>Height</b></label>
                            <br>                     
                            <label>A+ </label>                     
                        </div>
                        <div class="col-md-3">
                            <label><b>Blood Group</b> </label>
                            <br>                     
                            <label>No </label>                          
                        </div>
                        <div class="col-md-3">
                            <label><b>Identification Mark</b></label>                        
                            <br>                     
                            <label>SAFAS1474D</label>
                        </div>
                        <div class="col-md-3">
                            <label><b>PAN No.</b></label>                        
                            <br>                     
                            <label>SAFAS1474D</label>
                        </div>
                    </div>

                    <div class="row m-2 mt-5" >                       
                        <div class="col-md-3">
                            <label><b>Email ID</b></label>                        
                            <br>                     
                            <label>Test@gmail.com</label>
                        </div>
                        <div class="col-md-3">
                            <label><b> Status </b></label>
                            <select class="form-control" formControlName="ReStatus" (change)="onchangestatus($event)">
                                <!-- <option *ngFor="let mst of ESSRequestData" value={{mst.ESS_RQST_TYPE_ID}}> {{mst.ESS_RQST_TYPE_NAME}} </option> (change)="getESSSubRequestType($event)"-->
                                <option value="">select</option>
                                <option value="1">Approved</option>
                                <option value="2">Reject</option>
                            </select>                          
                              <div *ngIf="submitted && EmpSelfDetailForm.controls['ReStatus'].errors" class="text-danger">
                                  <div *ngIf="submitted && EmpSelfDetailForm.controls['ReStatus'].errors['required']">
                                    Please select Status
                                  </div>
                                </div> 
                        </div>
                        <div class="col-md-6" *ngIf="show_is_remark">
                            <label><b>Remark</b></label>
                            <input type="text" name="Remark" class="form-control" formControlName="Remark">
                                                   
                        </div>
                    </div>

                    
                    <div class="row mr-3" >
                        <div class="col-md-12" style="text-align: right;">
                            <button type="submit" class="btn btn-primary btn-flat margin w-100"
                            action="save">Submit</button>
                        </div>                        
                    </div>

                    <!-- <app-essbutton></app-essbutton> -->
                    <!-- Employee Self Detail End -->
                </form>





            </fieldset>
        </div>
    </div>
</section>
<app-footer></app-footer>